---
import type { GetStaticPaths } from "astro";

import Layout from "@/components/layout.astro";
import Project from "@/components/project.astro";

import { loadTranslations } from "@/lib/translate";
import type { Locale } from "@/lib/types";

export const prerender = true;

type Props = { lang: Locale };

export const getStaticPaths = (() => [
  { params: { lang: "en" }, props: { lang: "en" } },
  { params: { lang: "nl" }, props: { lang: "nl" } },
  { params: { lang: undefined }, props: { lang: "nl" } },
]) satisfies GetStaticPaths;

const { t, locale } = await loadTranslations(Astro.props.lang);

const projects = [
  {
    ...t.projects.bron,
    href: "/bron",
    from: "2024",
    to: t.now,
  },
  {
    ...t.projects.statenkandidaten,
    href: "/statenkandidaten",
    from: "2023",
    to: "2023",
  },
  {
    ...t.projects.beterdanhugo,
    href: "/beterdanhugo",
    from: "2021",
    to: "2022",
  },
  {
    ...t.projects.nieuwindekamer,
    href: "/nieuwindekamer",
    from: "2020",
    to: "2021",
  },
];
---

<Layout>
  <section>
    <p class="text-lg leading-snug" set:html={t.about.description} />
  </section>
  <section>
    <h2 class="mb-4 text-lg font-semibold text-neutral-100">Contact</h2>
    <hr class="mb-4 border-neutral-700" />
    <p set:html={t.about.contact} />
  </section>
  <section>
    <h2 class="mb-4 text-lg font-semibold text-neutral-100">
      {t.projects.title}
    </h2>
    <hr class="mb-4 border-neutral-700" />
    {
      locale === "en" && (
        <p class="text-neutral-400">
          All my projects are currently in Dutch and about the Netherlands, so
          please do reach out if you need some more context!
        </p>
      )
    }
    {projects.map((project) => <Project {...project} />)}
  </section>
</Layout>
