---
import Layout from "@/layouts/Layout.astro";
import Entry from "@/components/Entry.astro";
---

<Layout>
  <main class="mx-auto my-10 max-w-lg space-y-10 px-4">
    <header>
      <h1 class="mb-8 text-xl font-bold dark:text-white">Quinten Coret</h1>
      <p class="text-lg leading-snug">
        Once a seven-year-old cobbling together his first lines of code. Now a
        third-year student of Econometrics and Data Science at VU Amsterdam.
        Wherever I go, I love making creative ways to interact with data.
      </p>
    </header>
    <section>
      <h2 class="mb-4 text-lg font-semibold dark:text-neutral-100">Contact</h2>
      <hr class="mb-4 border-neutral-300 dark:border-neutral-700" />
      <p>
        The easiest way to reach out is to send an e-mail to
        <a href="mailto:hey@qntn.io">hey@qntn.io</a>. You can also find me on
        <a href="https://twitter.com/coretteket">Twitter</a>,
        <a href="https://github.com/coretteket">GitHub</a>, and
        <a href="https://linkedin.com/in/qcoret">LinkedIn</a>.
      </p>
    </section>
    <section>
      <h2 class="mb-4 text-lg font-semibold dark:text-neutral-100">Projects</h2>
      <hr class="mb-4 border-neutral-300 dark:border-neutral-700" />
      <Entry
        title="Statenkandidaten"
        href="https://statenkandidaten.nl"
        from="2023"
        to="2023"
      >
        Alle <b>6.547 kandidaten</b> voor de Provinciale Staten verzameld op één
        website, makkelijk te doorzoeken op naam, partij, geslacht en huidige
        functie, om een voorkeurstem te ondersteunen.
      </Entry>
      <Entry
        title="Beter dan Hugo"
        href="https://beterdanhugo.nl"
        from="2021"
        to="2022"
      >
        Meer dan <b>300.000 mensen</b> aan het denken gezet over het
        coronabeleid door in een spel de impact van maatregelen te laten zien
        met een simulatie van de verspreiding en nieuwsberichten.
      </Entry>
      <Entry
        title="Nieuw in de Kamer"
        href="https://twitter.com/nieuwindekamer"
        from="2020"
        to="2021"
      >
        Maandenlang <b>2.800 volgers</b>, waaronder <b>41 Kamerleden</b>,
        voorzien van woorden die voor het eerst gezegd waren in de Tweede Kamer
        door duizenden notulen te indexeren.
      </Entry>
    </section>
  </main>
</Layout>
