---
import Layout from '@/components/layout.astro';
import Redirects from '@/components/redirects.astro';

import { verifyToken } from '@/lib/server';
import { loadTranslations } from '@/lib/translate';
import { actions } from 'astro:actions';

await loadTranslations(Astro.props.lang);

const authed = verifyToken(Astro.cookies.get('token')?.value);
---

<script>
  if (new URLSearchParams(location.search).get('_action'))
    history.replaceState({}, '', location.pathname);
</script>

<Layout title="Links">
  <section>
    <p>
      You've found my secret page! I use this page to manage my redirects.
      Unless you know my password, it's not of much use to you.
    </p>
  </section>
  <section>
    <h2 class="mb-4 text-lg font-semibold text-neutral-100">Redirects</h2>
    <hr class="mb-4 border-neutral-700" />
    {
      !authed ? (
        <form action={actions.login} method="post">
          <input
            name="password"
            type="password"
            placeholder="Password"
            required
            class="my-2 w-full rounded border border-neutral-700 bg-neutral-950 px-3 py-2 focus:border-cyan-400 focus:outline-0"
          />
          <button class="my-3 w-full rounded border border-neutral-700 bg-neutral-800 py-1.5 font-semibold">
            Log in
          </button>
        </form>
      ) : (
        <Redirects />
      )
    }
  </section>
</Layout>
