---
import { AddSlug, UpdateSlug } from "@/islands/slugs";
import { kv } from "@/lib/kv";

const redirects = await kv.hgetall("url_map").then((v) =>
  Object.entries(v!)
    .map(([slug, url]) => ({ slug, url }))
    .sort((a, b) => a.slug.localeCompare(b.slug)),
);
---

<div class="my-6 grid grid-flow-row gap-3">
  <AddSlug client:load />

  {redirects.map(({ slug, url }) => <UpdateSlug {slug} {url} client:load />)}

  <form method="post" action="/slugs/logout">
    <button
      class="my-3 w-full rounded border border-neutral-700 bg-neutral-800 py-1.5 font-semibold"
    >
      Log out
    </button>
  </form>
</div>
